{% extends 'base.html' %}

{% block content %}
<section class="main" v-show="todos.length" v-cloak>
  <input type="checkbox" class="toggle-all" v-model="allDone">
  <ul class="todo-list">
    <li class="todo" v-for="todo in filteredTodos"
        :key="todo.id"
        :class="{completed: todo.completed, editing: todo == editedTodo}">
      <div class="view">
        <input type="checkbox" class="toggle" v-model="todo.completed">
        <label @dblclick="editTodo(todo)">[[todo.title]]</label>
        <button class="destroy" @click="removeTodo(todo)"></button>
      </div>
      <input type="text" class="edit"
             v-model="todo.title"
             v-todo-focus="todo == editedTodo"
             @blur="doneEdit(todo)"
             @keypu.enter="doneEdit(todo)"
             @keyup.esc="cancelEdit(todo)">

    </li>
  </ul>
</section>
<footer class="footer" v-show="todos.length" v-cloak>
  <span class="todo-count">
    <strong>[[remaining]]</strong> [[remaining | pluralize]] left
  </span>
  <ul class="filters">
    <li><a href="#/all" :class="{selected: visibility == 'all' }"></a>All</li>
    <li><a href="#/active" :class="{selected: visibility == 'active' }"></a>Active</li>
    <li><a href="#/completed" :class="{selected: visibility == 'completed' }"></a>Completed</li>
  </ul>
  <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
    Clear completed
  </button>
</footer>
{% endblock %}

{% block extra_script_footer %}
{% load static %}
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}